<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', :autocomplete => "off" %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit :class => "btn btn-block btn-outline-dark" %>
  </div>

  <div class="other-links">
    <%= link_to "Sign In With Google", "/auth/google_oauth2", :role => "button", :class => "btn btn-outline-dark btn-block mt-2" %>
    <%= link_to t(".forgot_password"), new_password_path, :role => "button", :class => "mt-2 btn btn-block btn-outline-dark" %>
  </div>
<% end %>
