<div class="container-fluid admin-panel">

<h2 class="py-3">Admin Panel</h2>

<p><%= link_to "Switch to Deals Page", deals_path, :role => "button", :class => "btn-dark btn-lg text-shadow" %></p></br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Created by User</th>
      <th scope="col">Company's Address</th>
			<th scope="col">Company's Email</th>
			<th scope="col">Company's Phone</th>
			<th scope="col">Status</th>
			<th scope="col">Approved?</th>
			<th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
	<% @companies.each do |company| %>
    <tr>
      <th scope="row"><%= company.id %></th>
			<td><%= company.name %></td>
			<td><%= company.user.email %></td>
			<td><%= company.address %></td>
			<td><%= company.email %></td>
			<td><%= company.phone_number %></td>
			<td id="status-<%=company.id%>"><%= company.verified ? "Approved" : "Pending"%></td>
			<% if !company.verified %>
				<td><%= link_to 'Approve this company', verify_path(company), method: :patch, id:"link-#{company.id}", remote: true%></td>
			<% else %>
				<td><%= link_to 'Disapprove this company', verify_path(company), method: :patch, id:"link-#{company.id}", remote: true%></td>
			<% end %>
			<td><%= link_to 'Delete this company', admin_path(company), method: :delete, remote: true, data:{confirm: "Are you sure?"} %></td>
    </tr>
	<% end %> 
  </tbody>
</table></br>

<h3>Reported reviews</h3>

<table class="table">
  <thead class="thead-dark">
  	<tr>
  		<th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
			<th scope="col">Review by</th>
			<th scope="col">Reported by</th>
			<th scope="col">Unreport Review</th>
			<th scope="col">Remove reported review</th>
  	</tr>
	</thead>

	<tbody>
		<% Review.all.each do |review| %>
		<% if review.reported == true %>
			<tr>
				<th scope="row"><%= review.id %></th>
				<td><%= review.title %></td>
				<td><%= review.description %></td>
				<td><%= review.stars %></td>
				<td><%= review.user.email %></td>
				<td><%= User.find(review.reported_by_user_id).email %></td>
				<td><%= link_to 'Unreport review', unreport_path(review.id) %></td>
				<td><%= link_to 'Remove reported review', company_review_path(review.company_id, review.id), method: :delete, data:{confirm: "Are you sure?"} %></td>
			</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
</div>





