<h2>Admin Panel:</h2></br>

<% @companies.each do |company| %>
	<%= company.name %><br>
	<li>Created by User: <%= company.user.email %></li>
	<li>Decsription: <%= company.description %></li>
	<li>Address: <%= company.address %></li>
	<li>Email: <%= company.email%></li>
	<li>Phone number: <%= company.phone_number%></li>
	<li id="status-<%=company.id%>">Status: <%= company.verified ? "Approved" : "Pending"%></li>
	<% if !company.verified %>
		<%= link_to 'Approve this company', verify_path(company), method: :patch, id:"link-#{company.id}", remote: true%>
	<% else %>
		<%= link_to 'Disapprove this company', verify_path(company), method: :patch, id:"link-#{company.id}", remote: true%>
	<% end %>
	<br>
	<%= link_to 'Delete this company', admin_path(company), method: :delete, remote: true, data:{confirm: "Are you sure?"} %>
	<br>
	<br>
<% end %> 

<h3>Reported reviews:</h3>
<% Review.all.each do |review| %>
	<% if review.reported == true %>
		<li>Review title: <%= review.title %></li>
		<li>Review description: <%= review.description %></li>
		<li>Review rating: <%= review.stars %></li>
		<li>Review by: <%= review.user.email %></li>
		<!-- What about if review is found not toxic??? -->
		<p><%= link_to 'Remove reported review', company_review_path(review.company_id, review.id), method: :delete, data:{confirm: "Are you sure?"} %></p></br>
	<% end %>
<% end %>



