<div class="container-fluid edit-profile" style="height: 100%;">

	<div class="container deals" data-aos="zoom-out" data-aos-duration="1100">
		<div class="title">
			<h2>Edit Profile</h2>
		</div>
		
		<%= form_for @user, :html => {:multipart => true} do |form| %>
		<div class="text-field">
			<%= form.label :first_name %>
			<%= form.text_field :first_name %>
		</div>

		<div class="text-field">
			<%= form.label :last_name %>
			<%= form.text_field :last_name %>
		</div>

		<div class = "file-field">
			<%= form.label :profile_picture %>
			<%= form.file_field :profilepic %>
		</div>
		
		<%= form.submit :class => "btn btn-block btn-outline-dark mt-4" %>
		<%= link_to "Back", user_path(current_user), :class => "btn btn-block btn-outline-dark " %>

	<% end %>
	</div>

</div>