<div class="container-fluid sign-up-background">

  <div id="clearance" class="sign-up container" data-aos="zoom-out" data-aos-duration="1100">
    <div class="title">
      <h2><%= t(".title") %></h2>
    </div>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit :class => "sign-up-submit btn btn-outline-dark btn-block" %>
        <!-- <%= link_to "Sign In With Google", "/auth/google_oauth2", :role => "button", :class => "btn btn-outline-dark btn-block" %> -->
      </div>
    <% end %>
  </div>

</div>