
<div class="container-fluid" id="user_profile">

<div id="user_profile">
	<div class="container-fluid">


		<div class="d-flex justify-content-around">
			<div class="img col-sm-4">
				<% if @user.profilepic? %>
					<%= image_tag @user.profilepic_url.to_s %> 
				<% else %>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5lhdQy2fMHepvvvD04-W8o4hH0rvZaKD6CulU2zwpYLScps93ng"> 
				<% end %>
			</div>

			<div class="col-sm-8 p-3 text-shadow text-right">
				<h1><%= @user.first_name %> <%= @user.last_name %></h1>
				<h3>One cannot think well, love well, sleep well, if one has not dined well.</h3>
				<h5><%= @user.email %></h5></br>

				<% if @user.id == current_user.id %>
					<%= link_to "Edit Profile", edit_user_path(@user), method: :get %></br>
					<% @company = Company.find_by(user_id: current_user.id) %>
					<%= link_to "View Deals", deals_path(@deal) %></br>
				<% end %>

			<!-- Link to switch view from user to company, if company available-->
			<% if current_user.role == "business" %> 
				<% @company = Company.find_by(user_id: current_user.id) %>
				<%= link_to "Switch to Company View", company_path(@company) %>
			<% end %>
			</div>
		</div>

		<br><h5 style="padding-left: 15px;">Deals won:</h5>

		<div class="row">
			<% @user.deals_won.each do |deal| %>
			<div class="col-md-4">
				<div class="card mt-5 card-shadow">
					<div class="card-header">
						<h5 class="card-title"><%= Deal.find(deal).company.name %></h5>
					</div>
					<div class="card-body">
					<% if Deal.find(deal).deal_image? %>
            <%= image_tag Deal.find(deal).deal_image_url.to_s %>
          <% else %>
					  <img src="https://halfoff.adspayusa.com/wp-content/uploads/2018/03/sushi_and_sashimi_for_two.0.jpg" alt="" class="img-fluid">
          <% end %>
						<p class="card-text"><%= Deal.find(deal).description %></p>
					</div>
					<div class="card-footer">
						<small class="text-muted"><%= Deal.find(deal).updated_at %></small>
					</div>
				</div>
			</div>
			<% end %>
		</div>
</div>

	</div>
</div>

