<p><%= @user.first_name %>'s Profile Page</p>
<!-- Link to switch view from user to company, if company available-->
<% if current_user.role == "business" %>
	<% @company = Company.find_by(user_id: current_user.id) %>
	<%= link_to "Switch to Company View", company_path(@company) %>
<% end %></br>

<% if @user.id == current_user.id %>
	<%= link_to "Edit Profile", edit_user_path(@user), method: :get %>
<% end %></br>

<p>Deals won:</p>
<ul>
<% @user.deals_won.each do |deal| %>
	<li><%= Deal.find(deal).company.name %>,
	<%= Deal.find(deal).description %></li>
	</br> 
<% end %>
</ul>