<%= @company.name %>
<li>Description: <%= @company.description %></li>
<li>Address: <%= @company.address %></li>
<li>Email: <%= @company.email%></li>
<li>Phone number: <%= @company.phone_number%></li>
</br>

<p>See all reviews here:</p>
<%= link_to 'See all reviews', company_reviews_path(@company)%>


<% Deal.all.each do |deal| %>
	<% if deal.company_id == @company.id%>
		<% if deal.wins_remaining > 0 %>
			<strong><%= deal.description %></strong>
			<li>Winning Odds: <%= (deal.odds_numerator)/(deal.odds_denominator).to_r %></li>
			<li>Wins Remaining: <%= deal.wins_remaining %></li>
			<%= link_to 'Spin', deal_path(deal)%>
		<% end %>
	<% end %>
	</br>
<% end %>

<%= button_to 'Review company now!', new_company_review_path(@company) %>