<p>
  <%= form.label :wins_remaining %><br>
  <%= form.text_field :wins_remaining %>
</p>
<p>
  <%= form.label :wins %><br>
  <%= form.text_field :odds_numerator %>
</p>
<p>
  <%= form.label :out_of %><br>
  <%= form.text_field :odds_denominator %>
</p>
<p>
  <%= form.label :description %><br>
  <%= form.text_field :description %>
</p>

