<div id="deals" class="container-fluid pt-4">
	<div class="container">
		<div class="row">
		<% @deals.each do |deal| %>
			<% if deal.wins_remaining > 0 %>
				<div class="col-md-4 mb-4">
					<div class="card card-shadow text-center">
						<div class="card-header">
							<h3><%= deal.description %></h3>
						</div>
						<div class="card-body">
							<img src="https://s3-ap-southeast-1.amazonaws.com/pizzahutmy/menu/BlazingSeafood-L-1486726693.png" alt="">
							<p class="card-text">Winning Odds: <%= (deal.odds_numerator)/(deal.odds_denominator).to_r %></p>
							<p class="card-text">Wins Remaining: <%= deal.wins_remaining %></p>
							<p class="card-text">Offered by: <%= link_to "#{deal.company.name}", company_path(deal.company_id) %></p>
							<%= link_to 'Show Deal', deal_path(deal), :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

<button class="spinBtn">CLICK TO SPIN!</button>
	<div class="wheelContainer">
			<svg class="wheelSVG" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" text-rendering="optimizeSpeed">
					<defs>
							<filter id="shadow" x="-100%" y="-100%" width="550%" height="550%">
									<feOffset in="SourceAlpha" dx="0" dy="0" result="offsetOut"></feOffset>
									<feGaussianBlur stdDeviation="9" in="offsetOut" result="drop" />
									<feColorMatrix in="drop" result="color-out" type="matrix" values="0 0 0 0   0
						0 0 0 0   0 
						0 0 0 0   0 
						0 0 0 .3 0" />
									<feBlend in="SourceGraphic" in2="color-out" mode="normal" />
							</filter>
					</defs>
					<g class="mainContainer">
							<g class="wheel">
									<!-- <image  xlink:href="http://example.com/images/wheel_graphic.png" x="0%" y="0%" height="100%" width="100%"></image> -->
							</g>
					</g>
					<g class="centerCircle" />
					<g class="wheelOutline" />
					<g class="pegContainer" opacity="1">
							<path class="peg" fill="#EEEEEE" d="M22.139,0C5.623,0-1.523,15.572,0.269,27.037c3.392,21.707,21.87,42.232,21.87,42.232 s18.478-20.525,21.87-42.232C45.801,15.572,38.623,0,22.139,0z" />
					</g>
					<g class="valueContainer" />
			</svg>
			<div class="toast">
					<p/>
			</div> 

<div class="container-fluid fuck" style="background: yellow;">
	<%= image_tag ("tip_hex.svg") %>
	<%= image_tag ("tip_circle.svg") %>
</div>


