<div id="deals" class="container-fluid">
	<div class="container">
		<div class="row">
		<% @deals.each do |deal| %>
		<% if deal.company.verified == true %>
			<% if deal.wins_remaining > 0 %>
				<div class="col-md-4 mb-4">
					<div class="card card-shadow text-center">
						<div class="card-header">
							<h3><%= deal.description %></h3>
						</div>
						<div class="card-body">
							<% if deal.deal_image? %>
            		<%= image_tag deal.deal_image_url.to_s %>
          		<% else %>
								<img src="https://s3-ap-southeast-1.amazonaws.com/pizzahutmy/menu/BlazingSeafood-L-1486726693.png" alt="" class="img-fluid">
							<% end %>
							<p class="card-text">Winning Odds: <%= (deal.odds_numerator)/(deal.odds_denominator).to_r %></p>
							<p class="card-text">Wins Remaining: <%= deal.wins_remaining %></p>
							<p class="card-text">Offered by: <%= link_to "#{deal.company.name}", company_path(deal.company_id) %></p>
							<% if current_user == nil %>
								<%= link_to 'Show Deal', sign_up_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
							<% else %>
								<%= link_to 'Show Deal', deal_path(deal), :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			<% end %>
		<% end %>
		</div>
	</div>
</div>