<div class="container-fluid bg-win text-center flash-text">
    <div class="container">
      <div id="no_spin" class="notice"></div>
      <div id="no_win" class="notice"></div>
      <div id="spin_win" class="notice"></div>
      <div id="spin_lose" class="notice"></div>
    </div>
</div>
  
<div class="container-fluid show-deal">

  <div class="container">
    <div>
			<div class="card card-shadow text-center">
				<div class="card-header">
					<h3><%= @deal.description %></h3>
				</div>
				<div class="card-body">
          <p><%= image_tag @deal.deal_image_url.to_s %></p> 
					<!-- <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjHibOFps3cAhWBfX0KHTsDDaUQjRx6BAgBEAU&url=http%3A%2F%2Fwww.mydeal.ie%2Fabout-mydeal%2F&psig=AOvVaw0hOFAbRs-sWXUc04go8q74&ust=1533262484839380" alt=""> -->
					<p class="card-text">Winning Odds: <%= (@deal.odds_numerator)/(@deal.odds_denominator).to_r %></p>
					<p id="wins_remaining" class="card-text">Wins Remaining: <%= @deal.wins_remaining %></p>
          <!-- <p id="status-<%=current_user.id%>"> Spins available: <%= current_user.spins_remaining %></p> -->
          

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-block btn-lg btn-outline-dark my-2" data-toggle="modal" data-target="#exampleModal">
            Launch the Wheel
          </button>

          <!-- Modal -->
          <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <!-- <div class="modal-dialog"> -->
              <div id="wrapper">
                <div id="wheel">
                <div id="inner-wheel">
                  <div class="sec"><span class="fas fa-bell"></span></div>
                  <div class="sec"><span class="fas fa-comment"></span></div>
                  <div class="sec"><span class="fas fa-smile"></span></div>
                  <div class="sec"><span class="fas fa-heart"></span></div>
                  <div class="sec"><span class="fas fa-star"></span></div>  
                  <div class="sec"><span class="fas fa-lightbulb"></span></div>
                </div>       
               
                <div id="spin">
                  <%= link_to 'S', spin_path(@deal), method: :patch, remote: true, :role => "button", :id => "inner-spin", :class => "btn btn-block btn-lg btn-outline-dark" %>
                </div>

                <div id="shine"></div>

              </div>
              </div>      
            <!-- </div> -->
          </div>

          <!-- <%= link_to 'Spin', spin_path(@deal), method: :patch, remote: true, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark" %> -->
          <%= link_to 'Back to Deals Page', deals_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark" %>
				</div>
			</div>
		</div>
    </div>
  </div>
  
</div><br>


<!-- <div id="wrapper">
  <div id="wheel">
  <div id="inner-wheel">
    <div class="sec"><span class="fa fa-bell-o"></span></div>
    <div class="sec"><span class="fa fa-comment-o"></span></div>
    <div class="sec"><span class="fa fa-smile-o"></span></div>
    <div class="sec"><span class="fa fa-heart-o"></span></div>
    <div class="sec"><span class="fa fa-star-o"></span></div>
    <div class="sec"><span class="fa fa-lightbulb-o"></span></div>
  </div>       
 
  <div id="spin">
      <div id="inner-spin"></div>
  </div>
  
  <div id="shine"></div>
</div>

</div>   -->          
