<p id="status-<%=current_user.id%>"> Spins available: <%= current_user.spins_remaining %></p>
</br>

<div id="no_spin" class="notice"></div>
<div id="no_win" class="notice"></div>
<div id="spin_win" class="notice"></div>
<div id="spin_lose" class="notice"></div>

<strong><%= @deal.company.name %></strong></br>
<li>Decsription: <%= @deal.company.description %></li>
<li>Address: <%= @deal.company.address %></li>
<li>Email: <%= @deal.company.email%></li>
<li>Phone number: <%= @deal.company.phone_number%></li>

<strong><%= @deal.description %></strong>
<li>Winning Odds: <%= (@deal.odds_numerator)/(@deal.odds_denominator).to_r %></li>
<li id="wins_remaining">Wins Remaining: <%= @deal.wins_remaining %></li>
<%= button_to 'Spin', spin_path(@deal), method: :patch, remote: true %>