<div>
	<%= form.label :title %>
	<%= form.text_field :title, :required => "true", :autocomplete => "off" %>
</div>

<div>
	<%= form.label :description %>
	<%= form.text_field :description, :required => "true", :autocomplete => "off" %>
</div>

<div>
  <%= form.label :rating %>
  <%= form.text_field :stars, :required => "true", :autocomplete => "off" %>
</div>
